body{
    font-family: sans-serif;

}

.navigator{
    display: flex;
    justify-content: space-between;
}

.container{
    margin-left: 50px;
    margin-right: 50px;
}

.navigator h1{
    color: cadetblue;
    margin: 0;
    font-size: 40px;
}

.navigator ul{
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigator li{
    padding-left: 15px;
    padding-top: 15px;
}

.navigator a{
    text-decoration: none;
    color: cadetblue;
}

.navigator .navigator-search{
    margin-top: 5px;
    flex: 1;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

.navigator .navigator-search input{
    flex: 1;
    color: cadetblue;
    border: 1px solid cadetblue;
    height: 35px;
    border-right: 0px;
}

.navigator .navigator-search button{
    color: cadetblue;
    border: 1px solid cadetblue;
    height: 39px;
    border-left: 0px;
}

.common-form{
    color: cadetblue;

}

.form-input{
    height: 35px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 1px solid cadetblue;

}

.form-button{
     height: 35px;
     border: 1px solid cadetblue;
     cursor: pointer;
}